@media (min-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }
  div.searchcontainer {
    width: 30vw;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  div.searchcontainer {
    width: 80vw;
  }
}

body {
  font-family: "Google Sans",Arial,sans-serif;
  background-color: #888;
}

h1 {
  /* font-size: 4.5rem; */
  margin: 50% 0px 20px 0px;
}

a {
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: none;
  border: none;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.searchcontainer {
  display: flex;
  border-radius: 1em 3em 1em 3em;
  border-style: solid;
  height: 1.5em;
  color: white;
  background: white;
}

.searchcontainer:active {
  transition: 1s;
  color: LightPink;
}

.searchsvg {
  height: 20px;
  width: 20px;
  fill: #888;
  stroke-width: 0px;
}

.searchbox {
  padding: 0px 20px 0px 0px;
  text-align: left;
  width: 100%;
}

input {
  border: none;
  width: 70%;
  height: 90%;
  background: none;
  color: white;
  border-radius: 5px;
}

input:hover {
  transition: 1s;
  width: 100%;
  background: LightBlue;
  color: white;
}

input:focus {
  width: 100%;
  background: LightPink;
  color: white;
}

.one {
  color: LightBlue;
}

.two {
  color: LightPink;
}

.three {
  color: LightSeaGreen;
}
